h1 {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: white;
}

.home-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 0%;
}


#intro {
    padding: 2%;
    min-width: 100vw;
    min-height: 100vh;
    color: white;
}

#works {
    width: 80%;
    padding-top: 50px;
}

#works-box {
    border: 2px solid green;
    width: 80%;
}

#works-box img {
    width: 70%;
}


@media screen and (max-width: 1024px) {
    #intro-poem {
        margin-top: 14%;
        margin-left: 52%;
        font-size: 17px;
    }
}

@media screen and (max-width: 768px) {
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #intro h1 {
        margin-top: 15%;
    }

    #intro-image {
        margin-top: 45%;
        width: 60%;
    }

    #intro-poem {
        margin-top: 45%;
        margin-right: 50%;                 
        width: 90%;
        font-size: 20px;
        color: white;
    }

    #novel {
        padding: 0%
    }

    #left {
        margin-left: 20%;
    }

    #blurb {
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 430px) {
    .carousel-caption button {
        border: none;
        background-color: rgb(214, 0, 86);
        padding: 4% 9%;
        margin-top: 12%;
        margin-bottom: 60%;
        font-size: 20px;
    }

    #intro h1 {
        margin-top: 20%;
    }

    #intro-image {
        margin-top: 90%;
        width: 60%;
    }

    #intro-poem {
        margin-top: 40%;
        margin-right: 50%;
        width: 90%;
        font-size: 20px;
        color: white;
    }

    #novel {
        display: flex;
        flex-direction: column;
        align-items: center !important;
        flex-wrap: wrap;
    }

    #left {
       margin: 0%;
    }

    #blurb {
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 320px) {
    #book-cover {
        width: 250px;
    height: 365px;
    }
}


