h1 {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: white;
}

.home-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 0%;
}

.carousel {
    width: 70%;
    height: 800px;
}

.carousel-item {
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.152);
}

.carousel-caption {
    text-align: center;
}

.carousel-caption h3 {
    font-size: 25px;
}

.carousel-caption button {
    border: none;
    background-color: rgb(214, 0, 86);
    padding: 4% 9%;
    margin-top: 12%;
    margin-bottom: 10%;
    font-size: 20px;
}

.carousel-caption button:hover, .carousel-caption button:active, .carousel-caption button:focus {
    border: none;
    background-color: rgb(162, 1, 65) !important;
    padding: 4% 9%;
    font-size: 20px;
}

.carousel-indicators {
    display: none;
}

.carousel-control-prev, .carousel-control-next {
    height: 500px;
}


#intro {
    background-color: rgb(42 10, 17);
    padding: 2%;
    min-width: 100vw;
    min-height: 100vh;
    color: white;
}

#bio {
    width: 80%;
    line-height: 1.6;
    font-size: 18px;
}

#book-cover {
    width: 400px;
    height: 515px;
    padding: 0%;
    margin: 0%;
    background-image: url("../../../public/images/tsd-cover.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#book-cover h3 {
    font-family: "Almendra", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 8%;
}

#blurb {
    width: 50%;
    line-height: 1.6;
}

#poetry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../../public/images/poetry.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media screen and (max-width: 1024px) {
    #intro-poem {
        margin-top: 14%;
        margin-left: 52%;
        font-size: 17px;
    }
}

@media screen and (max-width: 768px) {
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #intro h1 {
        margin-top: 15%;
    }

    #intro-image {
        margin-top: 45%;
        width: 60%;
    }

    #intro-poem {
        margin-top: 45%;
        margin-right: 50%;                 
        width: 90%;
        font-size: 20px;
        color: white;
    }

    #novel {
        padding: 0%
    }

    #left {
        margin-left: 20%;
    }

    #blurb {
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 430px) {
    .carousel-caption button {
        border: none;
        background-color: rgb(214, 0, 86);
        padding: 4% 9%;
        margin-top: 12%;
        margin-bottom: 60%;
        font-size: 20px;
    }

    #intro h1 {
        margin-top: 20%;
    }

    #intro-image {
        margin-top: 90%;
        width: 60%;
    }

    #intro-poem {
        margin-top: 40%;
        margin-right: 50%;
        width: 90%;
        font-size: 20px;
        color: white;
    }

    #novel {
        display: flex;
        flex-direction: column;
        align-items: center !important;
        flex-wrap: wrap;
    }

    #left {
       margin: 0%;
    }

    #blurb {
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 320px) {
    #book-cover {
        width: 250px;
    height: 365px;
    }
}


